/* Declaracion de variables base y gama de colores */
:root {
    --color-primario-cream: #f0f0c9ff;
    --color-secundario-lilac: #c398b7ff;
    --color-secundario2-green-blue: rgb(98, 142, 189);
    --color-background-lavender-web: #c9daf8ff;
    --color-texto-dark-purple: #3a183aff;
    --text-default: "Libre Baskerville", serif;
}

/* Estilo de las Fuentes  */
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;

}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;

}

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;

    font-style: italic;

}

/* ESTILOS CSS */


.ajuste {
    float: none;
    clear: both;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 110%;
    height: 110%;
    background-image: url(../img/fondo4.webp);
    background-size: 100%;
    background-position: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    filter: blur(4px);
    z-index: -1;
    transition: all 1s;
}

#global {
    width: 65%;
    margin: 20px auto;
    margin-top: 30px;
    padding: 25px;
    background-color: var(--color-primario-cream);
    font-family: var(--text-default);
    color: var(--color-texto-dark-purple);
    border-radius: 8px;
    box-shadow: 0px 0px 4px var(--color-secundario2-green-blue);
    transition: all 0.6s;
}

/* CABECERA  */

#logo {

    font-size: 32px;
    letter-spacing: 2px;
    color: var(--color-texto-dark-purple);
    border-radius: 3px;
    text-shadow: 0px 0px 4px rgb(255, 255, 255);
    font-weight: 900;
    text-align: left;
    padding-left: 30px;
    border: solid 1.7px var(--color-texto-dark-purple);
    box-shadow: 1px 1px 8px rgba(87, 29, 103, 0.41);
    width: 75%;
    height: 80px;
    background-image: url(../img/fondo4.webp);
    background-size: cover;
    margin-bottom: 15px;
    line-height: 0px;
    float: left;
    transition: all 0.4s;

}

#menu-nav {
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 40px;
    background-color: rgba(58, 24, 58, 0.845);
    border-radius: 4px;

    margin: none;
    box-shadow: 01px 0.6px 3px var(--color-secundario-lilac);

}

#menu-nav ul {
    line-height: 40px;
    list-style: none;

}

#menu-nav ul li {
    height: 40px;
    display: inline-block;
    transition: all 300ms;


}

#menu-nav a {
    display: block;
    text-decoration: none;
    color: var(--color-primario-cream);


    padding-left: 25px;
    padding-right: 20px;
    transition: all 0.3s;

}

#menu-nav a:hover {

    background-color: rgba(116, 161, 209, 0.89);
    height: 102%;
    box-shadow: 0px 0px 2px var(--color-secundario-lilac);
    border-radius: 2px;


}



/* PARTE DE LOS POSTS */

#posts {
    width: 60%;
    float: left;
}

.post {
    padding: 7px;
}

.post h2 {
    font-size: 30px;
}

.post .fecha {
    display: block;
    color: grey;
    margin-top: 5px;
    font-style: italic;
    letter-spacing: 2px;
    padding-left: 6px;
    font-weight: 500;
}

.post i {
    float: right;
    color: rgba(58, 24, 58, 0.755);
    margin-right: 5px;

}

.post p {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 23px;
    font-weight: 500;

}

.button-mas {
    padding: 10px;
    background-color: var(--color-background-lavender-web);
    text-decoration: none;
    margin-top: 10px;
    display: block;
    width: 45%;
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--text-default);
    font-weight: 600;
    border-radius: 3px;
    transition: all 0.4s;

}

.button-mas:hover {
    background-color: var(--color-secundario-lilac);
}


/* SECCION ASIDE */
#sidebar {
    width: 31%;
    float: right;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 20px;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}



#sidebar h4 {
    float: right;
    max-width: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    
}

#sidebar h4 .inicio {
    margin: 0px -0.4px;
    float: inline-start;
    color: rgba(58, 24, 58, 0.534);
}

#sidebar h4 .final {
    margin: 0px -0.4px;
    float: inline-end;
    color: rgba(58, 24, 58, 0.526);
}

#sidebar img {
    width: 130px;

    margin-right: 5px;
    float: inline-end;
    box-shadow: 0px 0px 0px var(--color-secundario2-green-blue);
    border-radius: 100%;

}

#sidebar p {
    font-size: 13px;
    text-align: right;
    float: inline-end;
    letter-spacing: 1px;
    max-width: 60%;
    margin-top: 15px;
}

/* Formulario de ingreso */
#login {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;


}

#login form {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#login .boton {
    margin-top: 12px;
    padding: 4px 15px;
    background-color: var(--color-background-lavender-web);
    cursor: pointer;
    color: var(--text-default);
    font-weight: 600;
    border-radius: 3px;
    border: none;
    transition: all 0.3s;
}

#login .boton:hover {

    padding: 4px 25px;
    background-color: var(--color-secundario-lilac);


}

#login .inpt {
    border: none;
    border-radius: 12px;
    border:1.7px solid var(--color-secundario2-green-blue);
    width: 90%;
    transition: all 0.6s;
}
#login .inpt:focus{
    outline:none;
    border:1.7px solid var(--color-texto-dark-purple);
    padding: 1px 10px;
   
    
}
footer{
    font-family: var(--text-default);
    color: var(--color-primario-cream);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    background: rgba(58, 24, 58, 0.781);
    margin: 0px auto;
    width: 65%;
    padding-left: 30px;
    padding-right: 20px;
    border-radius: 5px;
    cursor: pointer;
}
footer a{
    color: var(--color-primario-cream);
}

#parrafo1{margin-left: 50px;}
#parrafo3{margin-right: 120px;}


/*  SLIDER BX SLIDER */
.bx-wrapper, .bx-viewport{
    height: 250px !important;
}
.bx-wrapper{
    border: 6px solid var(--color-background-lavender-web);
    border-radius: 5px;
    transition: all 1s;
}
.bx-wrapper:hover{
    border: 6px solid var(--color-texto-dark-purple);
}

#selectorTemas{
    position: fixed;
    border-radius: 5px;
    top:50%;
    left: -0.5%;
    background:var(--color-secundario-lilac) ;
    width: 50px;
    height: 85px;
    padding-bottom: 5px;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
#selectorTemas img{
    transition: all 0.3s;
    width: 30px;
    height: 30px;
    border: 2px solid var(--color-primario-cream);
    border-radius: 4px;
}
#selectorTemas:hover {
    padding:10px 10px;
}
#pastel,#nocturno{
    width: 30px;
    height: 30px;
   
    
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.3s;

}
#pastel img:hover,#nocturno img:hover{
    width: 36px;
    height: 36px;
    cursor: pointer;
}

/* ACORDEON */

#box{
    width: 60%;
    float: left;
    margin-top: 30px;
    margin-left: 3px;
    
    
}


/* RELOJ */
#reloj{
    font-size: 55px;
    font-weight: bold;
    width: 30%;
    border: 5px dotted var(--color-texto-dark-purple);
    border-radius: 15px;
    padding: 30px;
    margin: 0px auto;
    display: flex;
    justify-content: center;

    

}